if SHIELD_CHIMERA_URCHIN_B_LEFT

config ZMK_KEYBOARD_NAME
    default "chmra_urchn_b"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHIMERA_URCHIN_B_LEFT || SHIELD_CHIMERA_URCHIN_B_RIGHT

config ZMK_SPLIT
    default y
endif
