// Left Config
if SHIELD_SANDBENDER_E_V0_LEFT

config ZMK_KEYBOARD_NAME
    default "sandbender"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

// Shared Config
if SHIELD_SANDBENDER_E_V0_LEFT || SHIELD_SANDBENDER_E_V0_RIGHT

config ZMK_SPLIT
    default y
endif
