if SHIELD_SANDBENDER_B_V0_LEFT

config ZMK_KEYBOARD_NAME
    default "sndbndr_b_v0"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SANDBENDER_B_V0_LEFT || SHIELD_SANDBENDER_B_V0_RIGHT

config ZMK_SPLIT
    default y
endif
